<div class="title">
    <h1>Ver contactos</h1>
</div>

<div class="container">
    <mat-card class="card">
        <mat-card-title> Bruno</mat-card-title>
        <mat-card-content>
            <p><strong>Apellido:</strong> Di Terlizzi</p>
            <p><strong>Celular:</strong> 3412799201</p>
            <p><strong>Tel Fijo:</strong> 4610399</p>
            <p><strong>Email:</strong> bruno.diterlizzi@gmail.com</p>
            <p><strong>Cumpleaños:</strong> 21/09/1990</p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/contactsList" mat-raised-button color="primary">Volver</button>
        </mat-card-actions>
    </mat-card>
</div>

