
table {
    width: 100%;
  }

  .title{
    padding: 30px;
    background-color: rgb(95, 22, 35);
    text-align: center;
    color: white;
}

.mat-table {
    background-color: rgb(83, 90, 97);
}
.container {
    margin: 0 20%;
}

td, th{
    width: 15%;
}