
table {
    width: 100%;
}

.mat-table {
    background-color: rgb(83, 90, 97);
}

td, th{
    width: 10%;
}
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

.mat-form-field{
    width: 100%;
    background-color: rgb(83, 90, 97);
    
    
}
::placeholder{
    color:rgb(197, 197, 197);
}
input{
    color:rgb(255, 255, 255);
}

.delete{
    cursor: pointer;
    color: #e15639;
}

.search {
    cursor: pointer;
}
.edit {
    cursor: pointer;
    color:#187880
}
.agregar {
    font-size: 10px;
    line-height: 28px;
}